* {
    margin: 0%;
    padding:0%;
}

/*NAVBAR*/
header div {
    background-color:lightblue !important;
    width: auto;
    height: auto;
    opacity: 1;
    color: black !important;
    position:static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1029;
    padding: 4px;
    padding-top: 4px !important;
    padding-bottom: 10px;
}


/*CAROUSEL*/
.carousel-tartufin {
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: auto;

}

/*TEXTO*/
.titulo_bienvenidos{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.presentacion-tartufin {
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.whats-cost {
    display: flex;
    text-align: center;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 10px;
}

.algo-tartufin {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

/*box algo */
.first-row .flex-row-algo{
    display: flex;
    margin-bottom: 10px;
    border: 2px blue;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

/*SEGUDA SECTION*/
.p-clasif {
    margin-bottom: 15px;

}

.clasificacion-1 {
    margin-bottom: 15px;
    list-style: none;
}

/*FUNCION*/
#flex-row-algo {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 1px;
    padding-top: 10px;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
}

.td {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.hc {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px; 
}

.fc {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.rd {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;  
    margin-bottom: 15px;
}


/*SEGUDA SECTION*/
.p-clasif {
      margin-bottom: 15px;

}

.clasificacion-1 {
    margin-bottom: 15px;
    list-style: none;
}

/*FUNCION*/
#fun-row {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 1px;
    padding-top: 10px;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;

}

.produccion {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.comercial {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.finan {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.invydes {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.secserv {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

/*MOMENTO*/
.how-cost {
    display: flex;
    text-align: center;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 1px;
    margin-top: 8px;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
}

#mom-row {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 8px;
    padding-top: 10px;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;

}

.cor {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.prev {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.dif {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

/*FORMA*/
.form-cost {
    display: flex;
    text-align: center;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 1px;    
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
}

#form-row {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 8px;
    padding-top: 10px;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;

}

.Dir {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0.2px 0.6px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

.Ind {
    border: 1px solid black;
    border-radius: 0.55rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: transparent !important;
    margin-bottom: 15px;
}

/*LINK DE REDIRECCIÓN*/
.mucha-info {
    display: block;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

.TARTOUR-inicio {
    text-decoration: none;
    color: black;
    margin-top: 9px;
    margin-bottom: 9px;
}



/*FOOTER*/
.GRID-Footer {
    display: grid;
    grid-template-columns: 2.5fr 0fr 4fr;
    grid-template-areas:
    "Sec1 Sec2 Sec3";
    background-color: lightgray;


}

.sec1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
}

.ttf {
    text-decoration: none;
    list-style: none;
    color: black;
}

.tyc {
    text-decoration: none;
    list-style: none;
    color: black;
}

.ttw {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-top: 5px;
}

.faq {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-top: 5px;
}

.sec2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
}

.arpnt {
    text-decoration: none;
    list-style: none;
    color: black;

}

.ctt {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-top: 5px;
}

.sec3 {
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
}

.fa-2x {
    display: flex;
    text-align: end;
    align-content: flex-end;
    justify-content: space-between;
    
}
/* Ahora hay que hacer el responsive
 de este fa-2x asi cuando se achica
 la pantalla queda bien.
 HAY QUE FIJARSE BIEN PARA QUE QUEDE RESPONSIVO */

/*LowContainer*/
.CopyR {
    display: flex;
    position: relative;
    padding: 7px 10px;
    background-color: lightblue;
    border-top: 1px solid black;
    box-sizing: inherit;
    letter-spacing: 0;
    text-align: center;
    justify-content: center;
}


/* MARGENES GENERALES */
p {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: left;
}
