* {
    margin: 0%;
    padding:0%;
}


/*NAVBAR*/
.nav-bar {
    background-color: #B392AC !important;
    opacity: 1;
    padding: auto;
    padding-bottom: 1px;
    padding-top: 5px;
    margin: auto;
}

.offcanvas-tartufin {
    background-color:  #B392AC !important;
    border-left: 1px #CBC0D3 !important;
}

.titulo-canvas {
    color: #FEEAFA !important;
    opacity: 0 !important;
}

.nb-desplegable {
    color: white !important;
}

header div {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1029;
    padding: 4px;
    padding-top: 4px !important;
    padding-bottom: 10px;
}


/*CAROUSEL*/
.carousel-tartufin {
    padding-top: 10px;
    margin-top: 36px;
    margin-bottom: 20px;
    padding: auto;

}

/*MAIN*/
.cajam {
    display: grid;
    width: auto;
    column-gap: 1px;
    row-gap: 10px;
    text-align: center;
    padding: 2rem;
}

.bi1 {
    text-align: center;
    font-weight: 2000;

}

.caja {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "binv binv2";   
}

.binv {
    grid-area: binv;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20px;
}

.h-cost {
    font-style: italic;
    font-weight: 320;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

.txt-1 {
    font-weight: 300;
}

.algo {
    text-decoration: none;
    color: black;
    font-weight: 700 !important;
}

.binv2 {
    grid-area: binv2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.td {
    border: 1px solid #5D737E;
    border-radius: 0.90rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color:  #FFFFEA;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: #AF125A !important;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;
}
.hc {
    border: 1px solid #5D737E;
    border-radius: 0.90rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color:  #FFFFEA;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: #BD8B9C !important;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;
}
.fc {
    border: 1px solid #5D737E;
    border-radius: 0.90rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color:  #FFFFEA;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: #AF125A !important;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;
}
.rd {
    border: 1px solid #5D737E;
    border-radius: 0.90rem;
    padding: 0.38rem 0.65rem;
    list-style: none;
    text-decoration: none;
    color:  #FFFFEA;
    text-shadow: 0px 0px 1px #d1d1d1 !important;
    background: #BD8B9C !important;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;
}
/* FIN MAIN*/

/* SECTION*/
.section-2fk {
    border-radius: 1.2rem;
    animation: section-2fk 5s infinite alternate linear;
}
@keyframes section-2fk {
    45%{
        background-color: #ad4776;
    }
    50%{
        background-color: #ae657d;

    }
    75%{
        background-color:#be87b2;
    }
    100%{
        background-color: #ddc6d8;
    }

    
}

.row2 {
    margin-left: 20px;
}

.p-clasif {
    margin-bottom: 2px;
}
.carta-m {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
}

.titulo-container {
    text-align: center;
    font-weight: 640;
}

.position-link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    text-align: end;
    margin-top: 50px;
}

.muto {
    color: #AF125A !important;
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

.italico {
    font-style: italic !important;
    font-weight: 250;
}

.cont-fluid {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;;
}

.link-carta {
    color: #BD8B9C;
    text-decoration: none;
    font-weight: 490;
    font-size: 14px;
}

.link-carta2 {
    color: #AF125A;
    opacity: 80%;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.text-ital {
    font-style: italic !important;
}
/* FIN SECTION*/

/*LINK DE REDIRECCIÓN*/
.mucha-inf {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
    justify-content: center;
}

.easy-way {
    margin-bottom: 20px;
}

/*TARTOUR*/
.vs {
    display: grid;
    grid-template-columns: 2fr 0.7fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "cj-ini cj-mid cj-fin";
}
.cj-ini {
    grid-area: cj-ini;
    text-align: end;
}
.cj-mid {
    grid-area: cj-mid;
}
.cj-fin {
    grid-area: cj-fin;
    text-align: start;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box {
    position: relative;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: #ad4776;
}
.container .box:hover .imgbox {
    transform: translate(-0.5rem, -0.5rem);
}
.container .box:hover .content {
    transform: translate(1.5rem, 1.5rem);
}
.imgbox {
    position:absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    background-color: #ddc6d8;
}
.imgbox .tt {
    width: 120px;
    height: 50px;
    object-fit: cover;
    text-align:start;
}

.tt {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
}

/*FOOTER*/
.GRID-Footer {
    display: grid;
    grid-template-columns: 1.9fr 1fr 1.5fr;
    grid-template-areas:
    "sec1 sec2 sec3"
    "div1 div2 fa-2x";
    background-color: #BD8B9C;
    margin-top: 30px;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10px;
}

.ttf {
    text-decoration: none;
    list-style: none;
    color:  #FFFFEA;
}

.tyc {
    text-decoration: none;
    list-style: none;
    color:  #FFFFEA;
}

.ttw {
    text-decoration: none;
    list-style: none;
    color: #FFFFEA;
    margin-top: 5px;
}

.faq {
    text-decoration: none;
    list-style: none;
    color:  #FFFFEA;
    margin-top: 5px;
}

.sec2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
}

.div2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10px;
}

.arpnt {
    text-decoration: none;
    list-style: none;
    color:  #FFFFEA;

}

.ctt {
    text-decoration: none;
    list-style: none;
    color:  #FFFFEA;
    margin-top: 5px;
}

.sec3 {
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
}

.fa-2x {
    display: flex;
    text-align: end;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

/*ICONOS*/
.Wapp {
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFEA;
}
.fb {
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFEA;
}

.github {
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFEA;
}

.ig {
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFEA;
}

.discord {
    margin-left: 2px;
    margin-right: 2px;
    color: #FFFFEA;
}

/*LowContainer*/

.CopyR {
    display: flex;
    position:static;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#5D737E;
    border-top: 1.5px solid #FFFFEA;
    text-align: center;
    justify-content: center;    
    color: #FFFFEA;
}

/*Cell Horizontal */
@media screen and (max-width: 550px) {
    /*MAIN*/
    .cajam {
        display: grid;
        width: auto;
        text-align: center;
        padding: 2rem;
    }
    
    .bi1 {
        display: none;
    }

    .bi1-mobil {
        display: block;
        text-align: center;
        font-weight: 2000;
    }
    
    .caja {
      display: flex;
      flex-direction: column;
    }
    
    .binv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 11.5px;
        margin-bottom: 8px;
    }
    
    .h-cost {
        font-style: italic;
        font-weight: 320;
        border-bottom: 1px solid #5D737E;
        border-top: 1px solid #5D737E;
    }
    
    .txt-1 {
        font-weight: 300;
        margin-top: 5px;

    }
    
    .algo {
        text-decoration: none;
        color: black;
        font-weight: 700 !important;
   
    }
    
    .binv2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 11px;
    }

    .td {
        border: 1px solid  #5D737E;
        border-radius: 0.90rem;
        padding: 0.38rem 0.65rem;
        list-style: none;
        text-decoration: none;
        color:  #FFFFEA;
        text-shadow: 0px 0px 1px #d1d1d1 !important;
        background: #BD8B9C !important;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 10px;
    }

    .hc {
        border: 1px solid  #5D737E;
        border-radius: 0.90rem;
        padding: 0.38rem 0.65rem;
        list-style: none;
        text-decoration: none;
        color:  #FFFFEA;
        text-shadow: 0px 0px 1px #d1d1d1 !important;
        background: #BD8B9C !important;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 10px;
    }

    .fc {
        border: 1px solid  #5D737E;
        border-radius: 0.90rem;
        padding: 0.38rem 0.65rem;
        list-style: none;
        text-decoration: none;
        color:  #FFFFEA;
        text-shadow: 0px 0px 1px #d1d1d1 !important;
        background: #BD8B9C !important;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 10px;
    }

    .rd {
        border: 1px solid #5D737E;
        border-radius: 0.90rem;
        padding: 0.38rem 0.65rem;
        list-style: none;
        text-decoration: none;
        color:  #FFFFEA;
        text-shadow: 0px 0px 1px #d1d1d1 !important;
        background: #BD8B9C !important;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 10px;
    }
   /*FIN DEL MAIN*/

   /*SECTION*/
   .cont-fluid {
    display: flex;
    flex-wrap: wrap;
   }

   .titulo-container {
    text-align: center;
    font-size: 16px;
}

.link-carta {
    color: #BD8B9C;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}
.link-carta2 {
    color: #BD8B9C;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}
   /*Fin del SECTION */
   .vs {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1f 1fr 1fr;
    grid-template-areas: 
    "cj-ini"
    "cj-mid"
    "cj-fin";
    align-items: center;
}
.cj-ini {
    grid-area: cj-ini;
    text-align: center;
}
.cj-mid {
    grid-area: cj-mid;
}
.cj-fin {
    grid-area: cj-fin;
    text-align: center;
}


   /*FOOTER*/
    .CopyR {
        font-size: 10px;
    }
    .GRID-Footer {
        display: flex;
        flex-direction: column;
        font-size: small;
        text-align: center;
    }
    .sec3 {
        display: flex;
        flex-direction: column;
        font-size: small;
        text-align: center;
        margin-bottom: 10px;
    }
    .fa-2x {
        display: flex;
        flex-direction: row;
        font-size: medium;
        justify-content: center;
    }
    .sec1 {
        margin-bottom: 10px;
    }
    .sec2 {
        margin-bottom: 10px;
    }
}

/*Cell Horizontal */
@media screen and (min-width: 551px) and (max-width: 960px){
    .bi1 {
        display: block;
        text-align: center;
        font-weight: 2000;
    }

    .bi1-mobil {
        display: none;
    }
    
    .CopyR {
        font-size: 12px;
    }
   /*SECTION*/
   .cont-fluid {
    display: flex;
    flex-wrap: wrap;
   }

   .titulo-container {
    text-align: center;
    font-size: 16px;
    }

    .link-carta {
    color: #BD8B9C;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    }

    .link-carta2 {
    color: #BD8B9C;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    }
   /*Fin del SECTION */
   .vs {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1f 1fr 1fr;
    grid-template-areas: 
    "cj-ini"
    "cj-mid"
    "cj-fin";
    align-items: center;
}
.cj-ini {
    grid-area: cj-ini;
    text-align: center;
}
.cj-mid {
    grid-area: cj-mid;
}
.cj-fin {
    grid-area: cj-fin;
    text-align: center;
}

}
/*TARTOUR
Acá comienza el espacio de trabajo CSS de HTML.TARTOUR
*/
.columna-fija {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: center;
    list-style: none;
    text-decoration: none;
    color: #735d78 !important;
    border-bottom: 1px solid  #735d78;
    margin-bottom: 10px;

}

.row-titulo-tartour {
    display: flex;
    margin-bottom: 10px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

/*LOS TRONCALES DEL MAQUETADO ESTAN ACÁ*/


/* DESCRIPCIONES*/




/* MARGENES GENERALES */
p {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: left;
}